docs_dir: 'docs'
site_url: "https://www.privacyguides.net/"
site_dir: 'site'

site_name: Privacy Guides.net
site_description: |
  Massive organizations are monitoring your online activities. Privacy Guides is your central privacy and security resource to protect yourself online.
copyright: |
  <b>Privacy Guides</b> is a non-profit, socially motivated website that provides information for protecting your data security and privacy.<br>
  We do not make money from recommending certain products, and we do not utilize affiliate links.<br>
  This content was made available by the Privacy Guides team and contributors. <a href="https://github.com/privacyguides/privacyguides">Get involved</a>!

extra:
  generator: false
  social:
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.social/@privacyguides
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/privacy_guides
    - icon: fontawesome/brands/github
      link: https://github.com/privacyguides
    - icon: fontawesome/brands/reddit-alien
      link: https://reddit.com/r/PrivacyGuides
repo_url: https://github.com/privacyguides/privacyguides.net
repo_name: privacyguides.net
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/favicon.ico
  icon:
    repo: fontawesome/brands/github
  font: false
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      accent: deep purple
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      accent: deep purple
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

plugins:
  - tags
  - search
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - meta
  - abbr
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - theme/.icons
  - tables
  - footnotes
  - toc:
      permalink: true
      toc_depth: 4

nav:
  - Online Services: 'index.md'
  - Report an Issue: 'https://github.com/privacyguides/privacyguides.net/issues'
  - About Us: 'https://www.privacyguides.org/about/'
